extends ../layout

block content
	include ../message.jade
	h2= post.title
	<hr>
	p(style=" text-align: justify")= post.content
	hr
	p='Create at: '+ post.create_date.toDateString() + ' | ' + 'Last Modified: ' + post.modified_date.toDateString()
	if (typeof(user) != 'undefined' && post.author._id.equals(user._id))
		a.btn.btn-info.btn-md(href='/posts/edit/#{post._id}') Edit
	<br>
	b Author: 
	a(href="/profile/#{post.author._id}")= post.author.display_name
	p Category:
		a(href="/posts/category/#{post.category}")= post.category
	h4 Comments
	#addComment
	if (typeof(user) != 'undefined')
		form(name="createComment",method="post", action="/posts/view")
			.form-group
				input#idPost.form-control(type="hidden", name="id", value='#{post._id}')
			.form-group
				input#author.form-control(type="hidden", value="#{user.display_name}", name="author")
			.form-group
				textarea#content.form-control(rows="2", name="content")
			button#btnCreateComment.btn.btn-primary(type="submit") Comment
		br
	else
		a.btn.btn-success.btn-block.btn-lg(href="/login") Login to comment
		br
	if (post.comments.length == 0)
		p No comments yet
	else
		each comment, i in post.comments
			.panel.panel-default
				.panel-heading
					img.img-circle(src="/avatar/avatar-default.jpg", width=30, height=30)
					&nbsp; 
					b= comment.author
				.panel-body
					p= comment.content
					small(style="float:right")= comment.date.toDateString()